html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width   : 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
}
div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#renderCanvas {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  touch-action: none;
}
#stats {
  position: absolute;
  top: 0;
  left: 0;
  margin:0;
  padding:0;
  color: rgb(0, 255, 255);
  background: rgba(0, 0, 0, 0.70);
  overflow: hidden;
  font-size: 10px;
}
